<!-- Additional head bits without overriding original head -->
<style>
    .home #sidebar .site-title {
        font-family: 'Major Mono Display', monospace;
        font-size: 2.25rem;
    }

    #sidebar .site-title {
        font-family: 'Major Mono Display', monospace;
        font-size: 2.25rem;
    }

    @media (min-width: 49rem) {
        .container>* {
            max-width: 100%;
        }
    }
</style>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
