<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <br>
  <span>
    If it is not much to ask, please follow me on <a href="https://x.com/MiltonCandelero"><s>X</s> Twitter</a> or <a href="https://bsky.app/profile/miltoncandelero.bsky.social">Bluesky<</a>!
    <br>
    I am not trying to start a cult, I am just trying to get a bunch of nerds to follow me  
  </span>
</footer>